div#container {
    max-width: 60em;
    margin: auto;
    color: #000;
}

body {
    height: 100%;
    width: 100%;
    color: #000;
    text-align: center;
}

footer {
    padding:3em;
    color: white;
    background-color: #33d26e;
}

h1 {
    font-size: 2em;
    cursor: default;
}

h2 {
    font-weight: bold;
    font-size: 3em;
}

h3 {
    font-size: 1.5em;
    cursor: default;
}

i {
    font-size: 5em;
    color: #33d26e;
}

.header-img {
    max-width: 500px;
}

.line {
    margin: auto;
    width: 70px;
    height: 2px;
    background-color: #33d26e;
    margin-top: 10px;
}

.spacer {
    margin-top: 100px;
}

.colour {
    background-color: #33d26e;
    color: white;
}

.product {
    max-width: 30em;
    margin: auto;
}

.fade {
    background: linear-gradient(321deg, #36ceed, #33d26e);
    background-size: 400% 400%;
    
    -webkit-animation: fade 14s ease infinite;
    -moz-animation: fade 14s ease infinite;
    -o-animation: fade 14s ease infinite;
    animation: fade 14s ease infinite;}
    
    @-webkit-keyframes fade {
        0%{background-position:0% 4%}
        50%{background-position:100% 97%}
        100%{background-position:0% 4%}
    }
    @-moz-keyframes fade {
        0%{background-position:0% 4%}
        50%{background-position:100% 97%}
        100%{background-position:0% 4%}
    }
    @-o-keyframes fade {
        0%{background-position:0% 4%}
        50%{background-position:100% 97%}
        100%{background-position:0% 4%}
    }
    @keyframes fade { 
        0%{background-position:0% 4%}
        50%{background-position:100% 97%}
        100%{background-position:0% 4%}
    }

