.header {
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #0055FF;
}

html {
    overflow: auto;
    overflow-x: hidden;
}

body {
    height: 100%;
    width: 100%;
    color: #000;
    text-align: center;
    height: 100vh;
}

div#container {
    max-width: 60em;
    margin: auto;
    color: #000;
}

.spacer {
    margin-top: 70px;
}

.darkbg {
    background-color: #003aad;
    color: white;
    padding: 3em;
}

.lightbg {
    background-color: #0055ff;
    color: white;
    padding: 3em;
}

.logo {
    max-width: 500px;
}

l {
    transition: all 0.25s;
    font-size: 4em;
}

i {
    transition: all 0.25s;
}

i:hover {
   transform: scale(1.5);
}

h {
    font-size: 15em;
}

h1 {
    font-size: 2em;
    cursor: default;
}

h2 {
    font-weight: thin;
    font-size: 3em;
}

.brand-link {
    width: 100px;
    border-radius: 30%;
    transition: all 0.25s;
}

.brand-link:hover {
    width: 100px;
    border-radius: 100%;
}

.info-plate {
    max-width: 400px;
    margin: auto;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
  
.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
}
  
@keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
}
  
.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

@-webkit-keyframes shake {
    from,
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
    }
  
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
    }
}
  
@keyframes shake {
    from,
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
    }
  
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
    }
  }
  
.shake:hover {
    -webkit-animation-name: shake;
    animation-name: shake;
}

footer {
    color:#fff;
    background-color: #0055ff;
    padding: 3em
}
